DATABASE_URL=""

PORT=4000

JWT_SECRET=


# cloudinary credential 
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
CLOUD_FOLDER=

# OTP credential 
# SMS_AUTH_KEY=
# SMS_SENDER_ID=
# SMS_ROUTE_ID=
# SMS_ENTITY_ID=
# SMS_BASE_URL=

NODE_ENV=development